<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UnsplashedWallpaper</title>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='unsplashed_wallpaper.js') }}"></script>
  </head>
  <body>
    <div id="wallpaper_div">Wallpaper will go here once loaded...</div>
  </body>
</html>
